Repository ShadowStation/ShadowStation, pull requests merged in 2019-10, with the labels that each got.

#210 New Space Ruin! BioDome!
  _maps/RandomRuins/SpaceRuins/Biodome2.dmm
Labels: Feature, Map Edit

#211 forced brain damage
  code/modules/mob/living/carbon/human/life.dm
Labels: Fix

#212 Minor Kilo fixes
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Edit, Tweak

#213 Texture fixes to two maps
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
Labels: Fix, Map Edit
